.Editor {
    flex: 1;
    display: flex;
    flex-direction: column;

    .ReactCodeMirror {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

  .CodeMirror {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: Consolas, monospace;
  }

  .CodeMirror-scroll {
    flex: 1;
  }

  .viewerContainer {
      flex: 1;
      display: flex;
      overflow-y: scroll;
  }

  .operation-panel {
      flex: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #eee;
      border-top: 1px solid #ccc;
      padding: 10px 25px;
  }

  .left-container {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  .checkbox-container {
      margin: 0;
      margin-right: 15px;

      span {
          margin-left: 5px;
      }
  }
}